.sort-header{
    display: flex;
    justify-content: space-between;

    i {
        cursor: pointer;
        padding: 0 2px;
    }
}

.image-container{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    background-color: #dedede;
}

textarea.form-control[disabled] {
    background-color: #e9ecef;
    cursor: not-allowed;
    overflow-y: auto;
}